.App {
  text-align: left;
}
div {
  width: 150px;
}
.div {
  display: flex;
  width: 800px;
  
}


.data {
  background-color: green;
  width: 120px;
  
}
.error {
  background-color: red;
  width: 120px;
  
}
.loading {
  background-color: yellow;
  width: 120px;
  
}